language: php

php:
  - 7.2
  - 7.2snapshot
  - 7.3
  - 7.3snapshot
  - 7.4snapshot
  - nightly

matrix:
  allow_failures:
    - php: 7.4snapshot
    - php: nightly

before_install:
  - composer self-update
  - composer clear-cache
  - wget -O phpunit.phar https://phar.phpunit.de/phpunit-8.3.phar

install: composer install

script: php phpunit.phar --configuration phpunit.xml.dist tests

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f0abd75c9ea61d414afa
    on_success: always
    on_failure: always
    on_start: false
